downloader/aniDL
downloader/logs/
downloader/widevine/
downloader/docs/
downloader/bento4/
downloader/config/cr_token.yml
downloader/config/archive.json
AGENTS.md
logs/
subtitles/
animes/
covers/
assets/fonts/
